@use "true" as *;
@use "utilities";

$colours: (
  primary: #4253f0,
  primary-light: #768fff,
);

@include describe("Colour utilities") {
  @include it("Creates utility classes for colour map") {
    @include assert {
      @include output {
        @include utilities.create-classes($colours);
      }

      @include expect {
        .ld-colour-primary {
          color: var(--ld-colour-primary);
        }

        .ld-background-primary {
          background-color: var(--ld-colour-primary);
          color: var(--ld-colour-white);
        }

        .ld-colour-primary-light {
          color: var(--ld-colour-primary-light);
        }

        .ld-background-primary-light {
          background-color: var(--ld-colour-primary-light);
          color: var(--ld-colour-black);
        }
      }
    }
  }

  @include it("Creates list of variables for colour map") {
    @include assert {
      @include output {
        .section {
          @include utilities.get-variables($colours);
        }
      }

      @include expect {
        .section {
          --ld-colour-primary: #4253f0;
          --ld-colour-primary-light: #768fff;
        }
      }
    }
  }
}
