@use "true" as *;
@use "utilities";

$colours: (
  primary: #4253f0,
  primary-light: #768fff,
);

@include describe("Root variables") {
  @include it("Creates root variables and utility classes for colour map") {
    @include assert {
      @include output {
        @include utilities.ld-colours($colours);
      }

      @include expect {
        :root {
          --ld-colour-primary: #4253f0;
          --ld-colour-primary-light: #768fff;
        }

        .ld-colour-primary {
          color: #4253f0;
        }

        .ld-background-primary {
          background-color: #4253f0;
          color: var(--ld-colour-white);
        }

        .ld-colour-primary-light {
          color: #768fff;
        }

        .ld-background-primary-light {
          background-color: #768fff;
          color: var(--ld-colour-black);
        }
      }
    }
  }
}
