@use "sass:map";
@use "../functions/create-variables";

@mixin get-variables($colours) {
  @include create-variables.map("colour", $colours);
}

@mixin create-classes($colours) {
  $font-colours-for-backgrounds: (
    primary: var(--ld-colour-white),
    primary-dark: var(--ld-colour-white),
    primary-light: var(--ld-colour-black),
    secondary: var(--ld-colour-black),
    secondary-dark: var(--ld-colour-black),
    secondary-light: var(--ld-colour-black),
    grey: var(--ld-colour-white),
    white: var(--ld-colour-black),
    black: var(--ld-colour-white),
  );

  @each $key, $value in $colours {
    .ld-colour-#{"" + $key} {
      color: var(--ld-colour-#{$key});
    }
    .ld-background-#{"" + $key} {
      background-color: var(--ld-colour-#{$key});
      color: map.get($font-colours-for-backgrounds, $key);
    }
  }
}
