@use "sass:map";

@mixin ld-colours($colours) {
  :root {
    @each $key, $value in $colours {
      --ld-colour-#{"" + $key}: #{$value};
    }
  }

  $font-colours-for-backgrounds: (
    primary: var(--ld-colour-white),
    primary-dark: var(--ld-colour-white),
    primary-light: var(--ld-colour-black),
    secondary: var(--ld-colour-black),
    secondary-dark: var(--ld-colour-black),
    secondary-light: var(--ld-colour-black),
    grey: var(--ld-colour-white),
    white: var(--ld-colour-black),
    black: var(--ld-colour-white),
  );

  @each $key, $value in $colours {
    .ld-colour-#{"" + $key} {
      color: $value;
    }
    .ld-background-#{"" + $key} {
      background-color: $value;
      color: map.get($font-colours-for-backgrounds, $key);
    }
  }
}
