$colours: (
  primary: #4253f0,
  primary-dark: #0039cb,
  primary-light: #768fff,
  secondary: #ef9a9a,
  secondary-dark: #ba6b6c,
  secondary-light: #ffcccb,
  grey: #575757,
  white: #fff,
  black: #000,
) !default;
