:root {
  --ld-colour-primary: #4253f0;
  --ld-colour-primary-dark: #0039cb;
  --ld-colour-primary-light: #768fff;
  --ld-colour-secondary: #ef9a9a;
  --ld-colour-secondary-dark: #ba6b6c;
  --ld-colour-secondary-light: #ffcccb;
  --ld-colour-grey: #575757;
  --ld-colour-white: #fff;
  --ld-colour-black: #000;
}
