@use "sass:map";

$body-font: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial";
$title-font: "Charter, Bitstream Charter";
$logo-font: "Courier new";
$icon-font: "Material Icons, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial";
$font-sizes: (
  small: 1rem,
  regular: 1.3rem,
  large: 1.5rem,
  larger: 1.7813rem,
  x-large: 2.25rem,
  xx-large: 4.5rem,
) !default;
$fonts: (
  body: (
    family: (
      $body-font,
      sans-serif,
    ),
    weight: 300,
    size: "regular",
  ),
  title: (
    family: (
      $title-font,
      serif,
    ),
    weight: bold,
    size: "xx-large",
  ),
  logo: (
    family: (
      $body-font,
      sans-serif,
    ),
    weight: 400,
    size: "larger",
  ),
  subtitle: (
    family: (
      $title-font,
      serif,
    ),
    weight: 400,
    size: "larger",
  ),
) !default;
$icon-fonts: (
  sm: (
    family: $icon-font,
    size: 1.125rem,
  ),
  md: (
    family: $icon-font,
    size: 1.5rem,
  ),
  lg: (
    family: $icon-font,
    size: 2.25rem,
  ),
) !default;
