@use "sass:map";

$body-font: "Open Sans";
$title-font: "Alice";
$logo-font: "Montserrat";
$icon-font: "Material Icons";
$font-sizes: (
  small: 1rem,
  regular: 1.1875rem,
  large: 1.5rem,
  larger: 1.7813rem,
  x-large: 2.25rem,
  xx-large: 4.5rem,
) !default;
$fonts: (
  body: (
    family: (
      $body-font,
      sans-serif,
    ),
    weight: 400,
    size: "regular",
  ),
  title: (
    family: (
      $title-font,
      serif,
    ),
    weight: bold,
    size: "xx-large",
  ),
  logo: (
    family: (
      $logo-font,
      sans-serif,
    ),
    weight: 500,
    size: "large",
  ),
  subtitle: (
    family: (
      $body-font,
      sans-serif,
    ),
    weight: 400,
    size: "larger",
  ),
) !default;
$icon-fonts: (
  sm: (
    family: $icon-font,
    size: 1.125rem,
  ),
  md: (
    family: $icon-font,
    size: 1.5rem,
  ),
  lg: (
    family: $icon-font,
    size: 2.25rem,
  ),
) !default;
