@use "../tools/colour";
@use "../tools/spacing";

.ld-footer {
  @include spacing.padding("small", "regular");
  @include colour.background-colour("secondary-light");

  flex-shrink: 0;

  &.home {
    background-color: transparent;
    border-top: 1px solid var(--ld-colour-secondary);
  }

  &__content {
    display: grid;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }

  a {
    @include colour.text-colour("black");
  }
}

.ld-social-links {
  @include spacing.margin-bottom("small");

  display: flex;
  flex-direction: column;

  &__item {
    @include spacing.margin-right("x-small");
  }
}

@media (width >= 768px) {
  .ld-footer {
    &__content {
      grid-template-columns: 1fr 1fr;
    }

    &__credit {
      order: 1;
    }
  }

  .ld-social-links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    order: 2;
  }

  .ld-social-links span:first-child {
    @include spacing.margin-right("small");
  }
}
