@use "../tools/colour";
@use "../tools/spacing";
@use "../tools/typography";
@use "../settings/breakpoints" as *;

/* List styles */

.ld-descriptive-list {
  dt {
    font-weight: bold;
  }

  dd {
    @include spacing.margin-bottom;

    margin-left: 0;
  }

  .ld-descriptive-list__gap {
    display: none;
  }
}

.ld-list {
  padding-left: spacing.get("large");
}

@media (width >= $small-breakpoint) {
  .ld-descriptive-list {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: spacing.get("small");

    .ld-descriptive-list__gap {
      @include spacing.margin-right("small");
      @include typography.font-size("large");
      @include colour.text-colour("secondary");

      font-family: "Material Icons", Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
    }
  }
}
