@use "../tools/colour";

/* Link Styles */

.ld-link, .ld-md a {
  @include colour.text-colour("primary");

  padding: 0 0.3rem 0.12rem;
  margin: 0 -0.3rem;
  border-radius: 2px;

  &.arrow {
    display: inline-flex;
    align-items: center;
  }

  &:visited {
    @include colour.text-colour("primary");
  }

  &:hover,
  &:focus {
    @include colour.background-colour("primary");
  }

  &[data-state="active"] {
    border-bottom: 3px solid var(--ld-colour-secondary);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      @include colour.text-colour("primary");

      background-color: transparent;
      cursor: default;
    }
  }

  &--hover-secondary,
  &--hover-secondary:visited {
    @include colour.text-colour("black");
  }

  &--hover-secondary:hover,
  &--hover-secondary:focus {
    @include colour.background-colour("secondary");
  }

  &--hover-underline:hover {
    background-color: transparent;
    border-bottom: 3px solid var(--ld-colour-secondary);
  }
}

.ld-link{
  a {
    padding: 0;
  }

  a:visited {
    @include colour.text-colour("primary");
  }

  &:hover,
  &:focus {
    a {
      background-color: transparent;
      color: inherit;
    }
  }
}
