@use "../tools/spacing";
@use "../settings/breakpoints" as *;

/* List styles */

.ld-descriptive-list {
  dt {
    font-weight: bold;
  }

  dd {
    @include spacing.margin-bottom;

    margin-left: 0;
  }
}

.ld-list {
  padding-left: spacing.get("large");
}

@media (width >= $small-breakpoint) {
  .ld-descriptive-list {
    display: grid;
    grid-template-columns: max-content auto;
    gap: spacing.get("large");
  }
}
