@use "../../settings/breakpoints" as *;
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

/* Site Header Styles */

.ld-header {
  @include spacing.padding;

  height: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__menu-button-text::after {
    transform: translateY(-35%) rotate(45deg) scale(1);
    border-bottom: 2px solid var(--ld-colour-primary);
    border-right: 2px solid var(--ld-colour-primary);
    content: "";
    display: inline-block;
    height: 0.5rem;
    margin: 0 2px 0 10px;
    vertical-align: middle;
    width: 0.5rem;
  }

  &__menu-button {
    @include colour.text-colour("primary");

    display: none;
    background-color: transparent;
    border: transparent;
    outline: none;
    padding: 0.5rem;

    &:focus,
    &:active {
      @include colour.background-colour("primary");

      border-color: var(--ld-colour-primary);

      .ld-header__menu-button-text::after {
        border-color: var(--ld-colour-white);
      }
    }

    &[aria-expanded="true"] {
      .ld-header__menu-button-text::after {
        transform: translateY(1px) rotate(225deg) scale(1);
      }
    }
  }
}

/* Header navigation styles */

.ld-header-nav {
  display: block;
  height: auto;
  width: auto;

  &__list {
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    display: flex;

    li {
      padding: 0.625rem;
    }
  }

  &__item {
    border: none;
  }

  &__link {
    @include typography.text("body");

    text-decoration: none;
  }
}

@media (width < $small-breakpoint) {
  .js-enabled {
    .ld-header {
      &__menu-button {
        display: block;
      }
    }

    .ld-header-nav {
      display: none;
      height: 0;
      width: 0;
      transition:
        height 1s ease-in,
        width 1s ease-in;

      &__list {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
      }

      &__item {
        @include spacing.padding;

        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--ld-colour-primary);
      }

      &__link {
        @include typography.font-family("title");
        @include typography.font-size("large");
        @include colour.text-colour("primary");
      }

      &.expanded {
        @include colour.background-colour("white");
        @include spacing.margin-top;

        display: block;
        width: 100vw;
        height: auto;
        transition: 0.5s;
        opacity: 1;
        border-top: 1px solid var(--ld-colour-primary);
      }
    }
  }
}
