@use "sass:map";
@use "sass:string";

@function google-font($font) {
  $url: "http://fonts.googleapis.com/css?";
  $family: format(map.get($font, "family"));
  $url: "#{$url}family=#{$family}";
  $weights: map.get($font, "weights");

  @if $weights {
    $url: $url + ":wght@";

    @each $weight in map.get($font, "weights") {
      $url: "#{$url}#{$weight};";
    }
  }

  $url: "#{$url}&display=swap";

  @return $url;
}

@function format($family) {
  $string: "";
  $list: string.split($family, " ");

  @each $word in $list {
    $string: $string + $word + "+";
  }

  @return string.slice($string, 1, -2);
}
